<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :go_to_bed, "Do you go to bed early, or late?" %>
      <%= f.text_field :go_to_bed, class: 'form-control', id: "go_to_bed", required: true %>
      
      <%= f.label :Question2, "Do you wake up early, or late?" %>
      <%= f.text_field :wake_up, class: 'form-control',  id: "wake_up", required: true %>

      <%= f.label :Question3, "Do you smoke?" %>
      <%= f.radio_button :smoke, true, class: 'form-control', id: 'smoke-yes' %> Yes <br/>
      <%= f.radio_button :smoke, false, class: 'form-control', id: 'smoke-no' %> No <br/>
      
      <%= f.label :Question4, "Do you drink?" %>
      <%= f.radio_button :drink, '1', class: 'form-control', id: 'drink-yes' %> Yes <br/>
      <%= f.radio_button :drink, '0', class: 'form-control', id: 'drink-no' %> No <br/>

      <%= f.label :Question5, "Do you party?" %>
      <%= f.radio_button :party, '1', class: 'form-control', id: 'party-yes' %> Yes <br/>
      <%= f.radio_button :party, '0', class: 'form-control', id: 'party-no' %> No <br/>
      
      <%= f.label :Question6, "Do you listen to loud music?" %>
      <%= f.radio_button :loud_music, '1', class: 'form-control', id: 'loud-music-yes' %> Yes <br/> 
      <%= f.radio_button :loud_music, '0', class: 'form-control', id: 'loud-music-no' %> No <br/>
      
      <%= f.label :Question4, "Are you messy or clean?" %>
      <%= f.text_field :messy_or_clean, class: 'form-control', id: 'messy_or_clean', required: true %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
